body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  background-color: #ffffff;
}

h1 {
  color: #7875dc;
}

.navbar {
  background-color: #fff;
  padding: 10px;
}

.navbar li a, a:active, a:visited, a:link {
  font-size: 16px;
  color: #bebebe;
  text-decoration: none;
}

.navbar li.active a {
  color: #07d8ff;
}

.navbar li a:hover {
  color: #07d8ff;
}

.navbar-toggle {
  width: inherit;
  border: 1px solid  #7875dc;
}

.navbar-toggle .icon-bar {
  background-color: #7875dc;
}

.navbar-header {
  background-color: #fff;
}

.steps {
  margin-top: 30px;
  margin-bottom: 40px;
}

.steps img {
  height: 130px;
}

.steps p {
  font-size: 16px;
  padding-top: 30px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-t-70 {
  padding-top: 70px;
}

.logo {
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: black;
}

.logo img {
  width: 23px;
}

.scalable {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.platform {
  padding-top: 50px;
}

.platform li img {
  width: 50px;
  margin-right: 20px;
}

.platform li {
  margin-bottom: 30px;
}

.platform img {
  width: 100%;
}

.platform ul {
  margin-top: 80px;
}

.solution {
  font-weight: 700;
  font-size:40px;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 1.2;
}

.solution p {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 30px;
}

.solution .btn {
  background-color: #07d8ff;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 200;
  font-size: 18px;
  border: none;
  margin-top: 30px;
  width: inherit;
}

.p-l-40 {
  padding-left: 40px;
}

.separator {
  border-left: 1px solid #b0ec97;
  padding-left: 40px;
}

h4 {
  color: #8ca32a;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
}

.nopadding {
    padding: 0px;
}

.faq {
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq h4 {
  color: #000000;
  font-size: 30px;
}

.faq img {
  width: 40px;
  margin-right: 20px;
  float: left;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.faq .collapsed img {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}


.faq .panel-body {
  padding-left: 60px;
  padding-top: 0px;
}

.faq a {
  font-weight: 700;
  color: #000000;
}

.background-black {
  background-color: #0a0a13;
}

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #ffffff;
}

.m-t-10 {
  margin-top: 10px;
}

.contact h4 {
  color: #3d3c71;
  font-size: 25px;
  font-weight: 200;
}

.contact .get-in-touch {
  font-weight: 700;
  margin-bottom: 94px;
}

.contact .phone {
  font-size: 30px;
  font-weight: 200;
}

button, input, textarea {
  border: 1px solid #43434a;
  border-radius: 30px;
  background-color: #0a0a13;
  margin-top: 23px;
  padding: 12px 20px;
  box-sizing: border-box;
  width: 100%;
  color: #ffffff
}

.contact .email {
  color: #07d8ff;
  font-size: 30px;
  font-weight: 200;
}

button {
  background: #41e0a6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #d6e52a , #41e0a6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #d6e52a, #41e0a6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #d6e52a, #41e0a6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #d6e52a , #41e0a6); /* Standard syntax */
  color: white;
}

.super {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #07d8ff;
  color: #07d8ff !important;
}

a.super:hover, .active a.super {
  background-color: #07d8ff !important;
  color: #fff !important;
}

textarea {
  height: 140px;
}

.footer {
  color: #656568;
  padding-top: 20px;
  padding-bottom: 20px;
}

.highlight-bg {
  background: #41e0a6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #d6e52a , #41e0a6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #d6e52a, #41e0a6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #d6e52a, #41e0a6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #d6e52a , #41e0a6); /* Standard syntax */
  color: white;
}

#fp-nav ul li .fp-tooltip {
  color: black;
}

.container>.navbar-collapse {
  background-color: #fff;
}

.nav>li {
  text-align: center;
}

.nav>li>a:focus, .nav>li>a:hover {
  background: none;
}


input:focus:invalid {
  border-color: red;
}

textarea:focus:invalid {
  border-color: red;
}
input:focus, textarea:focus {
  outline:none;
}

.error {
  padding: 10px;
  color: red;
}

.success {
  padding: 10px;
  color: #94b737;
}

@media (max-width: 767px) {

  .logo {
    font-size: 35px;
  }

  .logo img {
    width: 15px;
  }

  .separator {
    border: none;
    padding-left: 15px;
    padding-top: 20px
  }

  .platform {
    padding-top: 40px;
  }

  .platform ul {
    margin-top: 30px;
  }

  .faq {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .faq a {
    min-height: 38px;
    display: block;
  }

  .contact .get-in-touch {
    margin-bottom: 24px;
  }

  .footer {
     padding-top: 0;
  }

  .highlight-bg {
    background: -webkit-linear-gradient(left, #ace44d , #41e0a6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ace44d, #41e0a6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ace44d, #41e0a6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ace44d , #41e0a6); /* Standard syntax */
  }
}
