<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo">
        <a href="app/" class="simple-text">
          <div class="logo-img">
            <img src="/assets/img/logo.png"/>
            ohere <div class="label label-primary">beta</div>
          </div>
        </a>
      </div>
    </div>
   <!-- <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/#/dashboard">
            <i class="fa fa-trello" aria-hidden="true"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="register.html">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <p>Register</p>
          </a>
        </li>
        <li>
          <a href="lock.html">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <p>Lock</p>
          </a>
        </li>
      </ul>
    </div>-->
  </div>
</nav>
<div class="wrapper wrapper-full-page">
  <div class="full-page login-page" data-color="azure" data-image="./assets/img/full-screen-image-1.jpg">

    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
            <form method="#" action="#">

              <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
              <div class="card card-hidden">
                <div class="header text-center">Login</div>
                <div class="content">
                  <div class="form-group">
                    <label>Email address</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Username" >
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password"  [(ngModel)]="password" placeholder="Password">
                  </div>
                </div>
                <div class="footer text-center">
                  <button (click)="login()" type="button" class="btn btn-wd">Login</button>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>

    <footer class="footer footer-transparent">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="https://ohere.io/">
                Home
              </a>
            </li>
            <li>
              <a href="https://ohere.io/#solution">
                Solution
              </a>
            </li>
            <li>
              <a href="https://ohere.io/#faq">
                FAQ
              </a>
            </li>
            <li>
              <a href="https://ohere.io/#contact">
                Contact
              </a>
            </li>
          </ul>
        </nav>
        <p class="copyright pull-right">
          &copy; <script>document.write(new Date().getFullYear())</script> <a>ohere platform</a> powered by <a href="https://ohere.io">ohere.io</a>
        </p>
      </div>
    </footer>

    <div class="full-page-background" style="background-image: url('assets/img/beconify.jpg'); display: block;"></div>


  </div>

</div>
