<div  class="main-content">
    <div class="container-fluid">
        <div class="row" [@table]>
            <div class="col-md-7">
                <div class="card" *ngIf="beacon" >
                    <div class="header">
                      <h4 class="title" *ngIf="!addMode">Beacon #<strong><a target="_blank" [href]="beacon.code">{{beacon.code}}</a></strong></h4>
                      <h4 class="title" *ngIf="addMode">New Beacon</h4>
                        <p class="category">Beacon details</p>
                    </div>
                    <div class="content">
                      <form>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Name</label>
                              <input type="text" class="form-control" name="name" [(ngModel)]="beacon.name" placeholder="Name" >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Location</label>
                              <input type="text" class="form-control" name="location"  [(ngModel)]="beacon.location" placeholder="Location">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Content</label>
                              <select type="number" [(ngModel)]="beacon.content.id" class="form-control" name="content">
                                <option [ngValue]="-1">Nothing</option>
                                <option *ngFor="let content of contents" [ngValue]="content.id">{{content.name}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 ">
                            <div class="form-group">
                              <button (click)="goBack()" class="btn btn-danger btn-fill pull-left0">Delete</button>

                              <button (click)="save()" class="btn btn-info btn-fill pull-right">
                                  <span *ngIf="addMode">Add</span>
                                  <span *ngIf="!addMode">Update</span>
                                </button>
                              <button (click)="goBack()" class="btn pull-right m-r-10">Back</button>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
          <div class="col-md-5" *ngIf="!addMode">
            <div class="card" *ngIf="beacon">
              <div class="header">
                <h4 class="title">Live Content</h4>
                <p class="category">Content Preview</p>
              </div>
              <div class="content">
                <div class="iphone-wrapper">
                  <div class="iphone">
                    <iframe [src]="previewURL"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
