<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" [@table]>
                  <div class="row header">
                      <div class="col-md-8">
                        <div class="">
                          <h4 class="title">Beacons</h4>
                          <p class="category">Add and modify beacons</p>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <button (click)="addBeacon()" class="btn btn-info btn-fill pull-right"><i class="pe-7s-plus"></i> Add Beacon</button>
                      </div>
                  </div>
                      <div class="content table-responsive table-full-width">
                          <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Name</th>
                                  <th>Location</th>
                                  <th>Displaying Content</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let beacon of beacons" (click)="showBeacon(beacon)">
                                  <td>{{beacon.code}}</td>
                                  <td>{{beacon.name}}</td>
                                  <td>{{beacon.location}}</td>
                                  <td>{{beacon.content?.name}}</td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
