<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="card stats stats-blue" [@cardemail]>
              <div class="stats-line"></div>
              <div class="header">
                <h4 class="title">Total Views</h4>
                <p class="category">All Content</p>
              </div>
              <div class="content" *ngIf="!stats">Loading...</div>
              <div class="content" *ngIf="stats">
                {{stats.views | number}}
              </div>
              <div class="footer">
                <img src="/assets/img/views.png" />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card stats stats-red" [@cardemail]>
              <div class="stats-line"></div>
              <div class="header">
                <h4 class="title">Total Clicks</h4>
                <p class="category">All Content</p>
              </div>
              <div class="content" *ngIf="!stats">Loading...</div>
              <div class="content" *ngIf="stats">
                {{stats.clicks | number}}
              </div>
              <div class="footer">
                <img src="/assets/img/clicks.png" style="height: 50px; margin-bottom: -10px; margin-top: -10px;" />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card stats stats-yellow" [@cardemail]>
              <div class="stats-line"></div>
              <div class="header">
                <h4 class="title">Engaging</h4>
                <p class="category">All Content</p>
              </div>
              <div class="content" *ngIf="!stats">Loading...</div>
              <div class="content" *ngIf="stats">
                {{stats.engage | number}}%
              </div>
              <div class="footer">
                <img src="/assets/img/engage.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" [@cardemail]>
                    <div class="header">
                        <h4 class="title">OS Breakdown</h4>
                        <p class="category">All time</p>
                    </div>
                    <div class="content">
                      <div *ngIf="lineChartData[0].data.length == 0">Loading...</div>
                      <canvas baseChart width="400" height="400"
                              [datasets]="lineChartData" #pieChart
                              [labels]="lineChartLabels"
                              [options]="lineChartOptions"
                              [colors]="lineChartColors"
                              [legend]="lineChartLegend"
                              [chartType]="lineChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card" [@carduser]>
                    <div class="header">
                        <h4 class="title">Users Interactions</h4>
                        <p class="category">Last 7 days</p>
                    </div>
                    <div class="content">
                      <div *ngIf="lineChartData3[0].data.length == 0">Loading...</div>
                      <canvas baseChart width="400" height="200" #lineChart
                              [datasets]="lineChartData3"
                              [labels]="lineChartLabels3"
                              [options]="lineChartOptions3"
                              [colors]="lineChartColors3"
                              [legend]="lineChartLegend3"
                              [chartType]="lineChartType3"
                              (chartHover)="chartHovered3($event)"
                              (chartClick)="chartClicked3($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card" [@card2014sales] >
                    <div class="header">
                        <h4 class="title">Top 5 Beacons</h4>
                    </div>
                    <div class="content table-responsive">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th>Beacon Name</th>
                          <th># of Views</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let beacon of topBeacon">
                          <td>{{beacon.label}}</td>
                          <td>{{beacon.count}}</td>
                        </tr>
                        </tbody>
                      </table>
                      <div class="footer">
                        <hr>
                        <div class="stats">
                          <i class="fa fa-history"></i> Updated 5 minutes ago
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" [@cardtasks]>
                    <div class="header">
                        <h4 class="title">Top 5 Contents</h4>
                    </div>
                  <div class="content table-responsive">
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th>Content Name</th>
                        <th># of Clicks</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let content of topContent">
                        <td>{{content.label}}</td>
                        <td>{{content.count}}</td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="footer">
                      <hr>
                      <div class="stats">
                        <i class="fa fa-history"></i> Updated 3 minutes ago
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
