<footer class="footer">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://ohere.io/">
            Home
          </a>
        </li>
        <li>
          <a href="https://ohere.io/#solution">
            Solution
          </a>
        </li>
        <li>
          <a href="https://ohere.io/#faq">
            FAQ
          </a>
        </li>
        <li>
          <a href="https://ohere.io/#contact">
            Contact
          </a>
        </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy; <script>document.write(new Date().getFullYear())</script> <a>ohere platform</a> powered by <a href="https://ohere.io">ohere.io</a>
    </p>
  </div>
</footer>
