<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" [@table]>
                  <div class="row header">
                    <div class="col-md-8">
                      <div class="">
                        <h4 class="title">Content</h4>
                        <p class="category">Add And Modify Contents</p>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <button (click)="addContent()" class="btn btn-info btn-fill pull-right"><i class="pe-7s-plus"></i> New Content</button>
                    </div>
                  </div>
                    <div class="content table-responsive table-full-width">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th>Name</th>
                          <th>Type</th>
                          <th>Content</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let content of contents" (click)="showContent(content)">
                          <td>{{content.name}}</td>
                          <td><i [ngClass]="(content.type=='HTML')?'pe-7s-note':'pe-7s-global'"></i> {{content.type}}</td>
                          <td>{{content.type == 'HTML' ? content.content : content.url}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
