<div  class="main-content">
    <div class="container-fluid">
        <div class="row" [@table]>
            <div class="col-md-7">
                <div class="card" *ngIf="content" >
                    <div class="header">
                      <h4 class="title" *ngIf="!addMode">Content</h4>
                      <h4 class="title" *ngIf="addMode">New Content</h4>
                        <p class="category">Content details</p>
                    </div>
                    <div class="content">
                      <form>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Name</label>
                              <input type="text" class="form-control" name="name" [(ngModel)]="content.name" placeholder="Name" >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Content Type</label>
                              <select type="number" [(ngModel)]="content.type" class="form-control" name="type">
                                <option value="HTML">HTML</option>
                                <option value="REDIRECT">Redirect</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>URL To Redirect</label>
                              <input type="text" class="form-control" name="url" [(ngModel)]="content.url" placeholder="URL" >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Page Title</label>
                              <input type="text" class="form-control" name="title" [(ngModel)]="content.title" placeholder="Title" >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label>Page Content</label>
                              <textarea type="text" style="height: 100px" class="form-control" name="content" [(ngModel)]="content.content" placeholder="Content" >
                              </textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 ">
                            <div class="form-group">
                                <button (click)="save()" class="btn btn-info btn-fill pull-right">
                                  <span *ngIf="addMode">Add</span>
                                  <span *ngIf="!addMode">Update</span>
                                </button>
                              <button (click)="goBack()" class="btn pull-right m-r-10">Back</button>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
